{% extends 'base.html.twig' %}

{% block title %}Mofication mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modification de votre mot de passe</h1>

        {{ form_start(form) }}

        <div class="alert alert-light clearfix">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-check"></i>Modifier votre mot de passe</button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}