/* Page d'annonces globales */
.adsCard {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.adsCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adsCard .card-body .btn-info {
    width: 60%;
    margin: 0 auto;
}

/* Pages d'annonces unique */
.container {
    margin-top: 20px;
}

.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

.ad-title h1, .ad-title p, .carousel-caption h5, .carousel-caption p {
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

/* Note avec étoiles */
.rating i {
    color: goldenrod;
}