<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SymBnB | {% block title %}Welcome!{% endblock %}</title>
    {# Liaison des stylesheet communes + stylesheet spécifique #}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/master.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {# Inclusion du header #}
    {% include 'partials/header.html.twig' %}

    {# Block du body chargé dans chaque page #}
    {% block body %}{% endblock %}

    {# Inclusion du footer #}
    {% include 'partials/footer.html.twig' %}

    {# Liaison des scripts communs + script spécifique #}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>